<div class="page-header">
        <h2>{{title}}</h2>
    </div>
    <div class="panel">
        <!-- Форма для добавления заданий список -->
        <div class="form-inline">
            <div class="form-group">
                <div class="col-md-8">
                    <!-- Директива NgModel с помощью переданной модели создает объект FormControl и 
                        привязывает эту модель к созданному элементу формы. Объект FormControl отслеживает 
                        значение модели, а также отвечает за валидацию этого значения и взаимодействие с пользователем.
                        Данная директива принимает переданную ей модель в качестве входного свойства, используем двунаправленную привязку. -->
                    <input type="text" class="form-control" [(ngModel)]="name" placeholder = "Название" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <!-- Директива NgModel, используем двунаправленную привязку -->
                    <input type="text" class="form-control" [(ngModel)]="description" placeholder="Описание" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-8">
                    <button class="btn btn-default" (click)="addItem(name, description)">Добавить задание</button>
                </div>
            </div>
        </div>

        <!-- Добавим дочерний компонент PipesTableHeader c инструментами Pipes, которые позволяют форматировать отображаемые значения -->
        <app-pipes-table-header></app-pipes-table-header>

        <!-- Таблица для вывода списка заданий -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Предмет</th>
                    <th>Описание</th>
                    <th>Выполнено</th>
                </tr>
            </thead>
            <tbody>
                <!-- Директива *ngFor для вывода данных из массива items в таблицу -->
                <tr *ngFor="let item of items">
                    <td>{{item.name}}</td>
                    <td>{{item.description}}</td>
                     <!-- Директива NgModel, используем двунаправленную привязку -->
                    <td><input type="checkbox" [(ngModel)]="item.done" /></td>
                </tr>
            </tbody>
        </table>
    </div>